/*\
|*| Note: layout.rtl.css is a generated file. Only edit layout.css.
|*| layout.rtl.css is generated automatically while running the dev server (npm run dev)
|*| (or manually with npm run build-css)
|*|
|*| Right-to-left layout is handled with a processor called RTLCSS, using comment directives.
|*| Note in particular that "direction: ltr;" by default gets flipped to "direction: rtl;",
|*| so the way to make a piece of UI left-to-right-only is with an ignore directive.
\*/

html, body, .jspaint {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}
.jspaint {
	direction: ltr;
	
	box-sizing: border-box; /* for iPad fullscreen workaround, which adds padding to .jspaint; without this it hides the status bar */

	/* prevent selection, especially for Safari on iOS/iPad, which likes to select random (nearest, kind of?) elements when long-pressing */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.chooser-option {
	display: flex;
}
.choose-shape-style {
	display: flex;
	flex-flow: column;
}
.choose-eraser,
.choose-magnification,
.choose-stroke-size,
.choose-transparent-mode {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
}
.choose-brush,
.choose-airbrush-size {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;
}
.tool-options canvas {
	flex: 0 0 auto;
}

.jspaint {
	display: flex;
	flex-flow: column;
	flex: 1;
}
.horizontal {
	display: flex;
	flex-flow: row;
	flex: 1 1 0;
	overflow: hidden;
}
.vertical {
	display: flex;
	flex-flow: column;
	flex: 1;
}
.jspaint > .vertical {
	height: 100%;
}
@media (max-width: 200px) {
	.horizontal > .component-area {
		display: none;
	}
}
@media (max-height: 340px) {
	.vertical > .component-area {
		display: none;
	}
}
@media (max-height: 359px) {
	.vertical > .status-area {
		display: none !important;
	}
}

.component-area {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.status-area,
.component-area {
	display: flex;
	flex: 0 0 auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selection,
.textbox,
.helper-layer {
	z-index: 3;
}
.selection,
.textbox {
	display: block !important; /* @TODO: reduce overzealous display: flex; */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.textbox > img,
.textbox > canvas,
.selection > img,
.selection > canvas {
	/* @TODO: maybe don't include the canvas in the DOM (is it helpful to inspect it tho? it's not critical...) */
	opacity: 0;
	/* Fix draggable part of selection going outside the selection selection is vertically thin */
	position: absolute;
	left: 0;
	top: 0;
}
.selection > img,
.selection > canvas,
.helper-layer > canvas {
	width: 100%;
	height: 100%;
}
.helper-layer > canvas {
	/* Fix helper layer canvas going off the main canvas when main canvas is vertically thin */
	position: absolute;
	left: 0;
	top: 0;
}
.resize-ghost {
	pointer-events: none;
}
.resize-ghost {
	z-index: 4;
}

.textbox-editor {
	color: transparent !important;
	background: transparent !important;
	caret-color: black;
	z-index: 4; /* go above handles and .main-canvas */
	outline: none;
}
/*.textbox-editor:hover {
	color: rgba(255, 0, 255, 0.5) !important;
}*/

.status-area {
	display: flex;
	overflow: hidden;
	white-space: nowrap;
	cursor: default;
}
.status-text {
	flex-basis: auto;
	flex-grow: 1;
	flex-shrink: 0;
	padding-right: 2px;
	overflow: hidden;
}
.status-coordinates {
	flex: 0 0 114px;
	min-width: 0px;
	padding-left: 3px;
}


.menus {
	/* @TODO: make this part of os-gui; note that Explorer does overflow differently though */
	flex-wrap: wrap;
}

.component-area {
	/* for measuring offsetTop/offsetLeft of component elements */
	/* (makes it relative to this element) */
	position: relative;
}

.tools-component {
	height: 273px;
	align-items: center;
	padding-left: 4px;
	padding-right: 2px;
	display: flex;
	flex-flow: column;
}
.tool-options {
	display: flex;
	margin-top: 3px;
	width: 41px;
	height: 66px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.tool-options > div {
	flex: 1;
}
.tools {
	display: flex;
	flex-flow: row wrap;
}
.tool {
	display: block !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
}

.horizontal .component-area {
	flex-direction: column;
}
.component {
	display: flex;
}
.colors-component {
	align-items: center;
	justify-content: center;
}
.colors-component.wide {
	height: 47px;
}
.colors-component.tall {
	width: 47px;
}
.palette {
	display: flex;
}
.colors-component.wide .palette {
	flex-flow: row wrap;
}
.colors-component.tall .palette {
	flex-flow: column wrap;
}
.colors-component.wide .color-box,
.colors-component.wide .palette {
	display: flex;
	flex-direction: row;
	height: 32px;
}
.colors-component.tall .color-box,
.colors-component.tall .palette {
	display: flex;
	flex-direction: column;
	width: 32px;
}
.colors-component.wide .current-colors {
	width: 30px;
	height: 31px;
}
.colors-component.tall .current-colors {
	width: 31px;
	height: 32px;
}
.current-colors,
.color-button {
	position: relative;
}
.foreground-color {
	position: absolute;
	left: 2px;
	top: 4px;
}
.background-color {
	position: absolute;
	right: 3px;
	bottom: 3px;
}
.colors-component.tall .foreground-color {
	left: 4px;
	top: 3px;
}
.colors-component.tall .background-color {
	right: 3px;
	bottom: 3px;
}

.colors-component.wide .color-button,
.colors-component.wide .color-selection {
	margin-left: 1px;
}
.colors-component.tall .color-button,
.colors-component.tall .color-selection {
	margin-top: 1px;
}
.color-button,
.color-selection {
	display: flex;
	padding: 0;
	box-sizing: border-box;
	width: 15px;
	height: 15px;
	border: 0;
}

/* could do it cleaner with JavaScript or CSS preprocessor */

/* WET layout code for small viewports and Enlarge UI mode */

.font-box {
	display: flex;
	flex-flow: row;
	align-items: center;
	margin: 4px 7px; /* not measured, just guessed */
	gap: 10px;
}

.canvas-area {
	flex: 1;
	display: block !important;
	position: relative;
	overflow: auto;
	padding: 3px;
	direction: ltr/*rtl:ignore*/;
}
.main-canvas {
	position: absolute;
	z-index: 2;
}
.canvas-area .handle {
	position: absolute;
	width: 3px;
	height: 3px;
	z-index: 1;
	pointer-events: none; /* important for Dwell Clicker mode */
}
.grab-region {
	/* the grab-region make handles way easier to grab by extending outside the visual representation of the handle */
	position: absolute;
	/*background: rgba(255, 0, 0, 0.5);*/ /* debug */
}
/* .grab-region.is-middle { */
	/*background: rgba(255, 255, 0, 0.5);*/ /* debug */
/* } */
.textbox::before {
	/* allow dragging textbox */
	/* In mspaint the border drawn around selections and textboxes extends out from them,
	centered on the pixels bordering the contents,
	which makes it more reasonable to have the border be a draggable thing.
	I'm making the draggable area outside the border for now. */
	content: "";
	pointer-events: all; /* @TODO: maybe don't have a blanket pointer-events: none; on pseudo elements */
	display: block;
	position: absolute;
	left: -10px;
	right: -10px;
	top: -10px;
	bottom: -10px;
	/*background: orange;*/ /* debug */
}

/* @TODO: part of os-gui */

.dragging iframe {
	pointer-events: none;
}

/* TODO: reduce scope of this rule, and remove exception(s) to it */
::before, ::after {
	pointer-events: none;
}
/* Quick fix for clicking directly on the radio button in themes which use styles from 98.css */
input[type="radio"] + label::before {
	pointer-events: all;
}

.cursor-bully * {
	cursor: inherit !important;
}

select.inset-deep {
	background-position: top 0px right 0px;
	padding-right: 16px;
}

details {
	margin-top: 8px;
}
summary {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

